:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #646cff;
}

body {
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20vh;
}


p,
body {
  margin: 0
}
h2 {
  text-align: center;
  line-height: 1.2;
  font-size: 2rem;
}
h3 {
  margin-block-start: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  white-space: nowrap;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

footer,
section,
header {
  display: block;
  width: 100%;
  max-width: 65rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 36rem;
  text-align: center;
  min-height: 40vh;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}

@media (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
}
@media (min-width: 520px) {
  footer 
  > ul {
    flex-direction: row;
    gap: 1rem;
    > li {
      &:not(:last-child)::after {
        content: "|";
        margin-inline-start: 1rem;
      }      
    }
  }
}
@media (max-width: 519px) {
  footer {
    text-align: center;
  }
}


.l-row {
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  margin-inline: auto;
  > * {
    flex: 1;
  }
}
.l-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.l-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
  > .l-grid {
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  .l-row {
    flex-direction: column;
  }
  
  .l-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.t-text-center {
  text-align: center;
}

/* To prevent FOUC, these webcomponents starts as invisible */
base-code:not(:defined),
base-alert:not(:defined),
base-button:not(:defined),
base-switch:not(:defined),
base-badge:not(:defined),
base-input:not(:defined),
base-counter:not(:defined) {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
base-code:defined,
base-alert:defined,
base-button:defined,
base-switch:defined,
base-badge:defined,
base-input:defined,
base-counter:defined {
  opacity: 1;
}